<head>
  <title>Pinteresting!</title>
</head>

<body>

</body>

<template name="layout">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ pathFor 'listAllPins' }}"><i class="fa fa-thumb-tack"></i> Pinteresting!</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {{#if currentUser}}
            <!-- @TODO: add navbar class "active" for current route -->
            <li><a href="#" id="add" style="background-color: darkgreen">Add Pin!</a></li>
            <li><a href="{{ pathFor 'listAllPins' }}">All Pins</a></li>
            <li><a href="{{ pathFor 'listUserPins' username=currentUser.username}}">My Pins</a></li>
          {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
          <!-- here -->
        </ul>
      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{#unless currentUser}}
          <p class="lead">
            Login or register to add pins!
          </p>
        {{/unless}}

        {{> yield}}
      </div>
    </div>
  </div>

  <hr>

  <footer>
    <div class="container text-center"><p>by anjanjanj | Built with <a href="https://www.meteor.com/">Meteor</a> | <a href="https://github.com/anjanjanj/pinteresting">Github Repo</a></p></div>
  </footer>
</template>
