<template name="pin">
  <p>
    <div class="grid-item pin">
      <img src="{{imageUrl}}" id="img{{_id}}">
      <p>
        {{#if currentUser}}
          <button class="likePin btn btn-primary" style="float:right" href="#">{{ likeText(likes) }}</button>
        {{/if}}
        <strong>{{text}}</strong><br>
        <small>{{timeAgo(createdAt)}}
          by <a href="{{ pathFor 'listAllPins' username=authorName}}">{{authorName}}</a> |
          <i class="fa fa-thumbs-o-up"></i> {{likes.length}}</small>

        {{#if canDelete authorName}}
          <br><a class="deletePin small" href="#">Delete</a>
        {{/if}}

      </p>
    </div>
  </p>
</template>
